#top-header {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: mistyrose;
  background-image: url("../images/inspiration-geometry.png");
}

#header-logo {
  display: block;
  font-family: Bungee;
  font-size: 2.0em;
  margin-top: 1.0em;
  align-self: flex-start;
  margin-left: 1.0em;
  color: darkcyan;
}

@media only screen and (min-width: 1024px) {
  #top-header  {
    height: 20em;
    width: 25vw;
    float: left;
    margin-top: 10vh;
    margin-left: 10vw;
  }
  #header-logo {
    display: none;
  }
} 