form {
  justify-content: center;
  flex-direction: column;
  display: inline-flex;
}

label {
  font-family: 'Source Sans Pro';
  font-weight: bolder;
}

textarea {
  background-color: transparent; 
  border-color: transparent transparent dimgray; 
  border-bottom-width: thick; 
  font-family: "Source Sans Pro"; 
  font-size: medium; 
  resize: none;
}

div {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10px;
}


textarea {
  background-color: transparent;
  border-color: transparent transparent dimgray;
  border-bottom-width: thick;
  font-family: "Source Sans Pro";
  font-size: medium;
  height: 32px;
  width: 470px;
  resize: none;
}

button {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: white;
  border-color: transparent;
}

output {
  font-family: 'Bungee';
}