.new-tweet {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  width: 100%
}

form {
  justify-content: center;
  flex-direction: column;
  display: inline-flex;
  width: 60%;
  margin-top: 2em;
}

label {
  font-family: 'Source Sans Pro';
  font-weight: bolder;
}

div {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 0.25em;
}

#tweet-text {
  background-color: transparent;
  border-color: transparent transparent dimgray;
  border-bottom-width: thick;
  font-family: "Source Sans Pro";
  font-size: medium;
  height: 2em;
  resize: none;
}

textarea:focus, input:focus {
  outline: none;
}

button {
  background-color: darkseagreen;
  font-family: 'Bungee';
  color: white;
  border-color: transparent;
}

button:focus, input:focus{
  outline: none;
}

output {
  font-family: 'Bungee';
}
@media only screen and (min-width: 1024px) {

} 
@media only screen and (min-width: 768px) and (max-width: 1023) {
  /* nav {

  } */
}